* {
  margin: 0;
  padding: 0;
}

html, body {
  overflow: hidden;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}


.button_list {
  z-index: 100;
  position: fixed;
  display: flex;
  gap: 20px;
}

.asia, .africa, .europe, .americas, .oceania {
  background: none;
  color: white;
  cursor: pointer;
  padding: 5px 10px;
  font-size: 20px;
  border: none;
  border: 1px solid white;
  text-transform: uppercase;
}